<a href="https://colab.research.google.com/github/FredArgoX/ChaoticTest_PySpark/blob/main/01_GL_Spark_DataFrame_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Source: [Great Learning](https://olympus.mygreatlearning.com/courses/31729/modules/items/879875?pb_id=581)

Spark DataFrames are the workhouse and main way of working with Spark and Python post Spark 2.0. DataFrames act as powerful versions of tables, with rows and columns, easily handling large datasets. The shift to DataFrames provides many advantages:

- A much simpler syntax
- Ability to use SQL directly in the dataframe
- Operations are automatically distributed across RDDs

If you've used R or even the pandas library with Python you are probably already familiar with the concept of DataFrames. Spark DataFrame expand on a lot of these concepts, allowing you to transfer that knowlwdge easily by understanding the simple syntax of Spark DataFrames. Remember that the main advantage to using Spark DataFrames vs those of other programs is that Spark cand handle data across many RDDs, huge data sets that would never fit on a single computer.

# Creating a DataFrame

First we need to start a SparkSession:

In [33]:
from pyspark.sql import SparkSession

Then start the SparkSession

In [34]:
# May take a little while on a local computer
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [35]:
spark

You will first need to get the data from a file (or connect to a large distributed file like HDFS)

In [36]:
# This dataset is from Spark's examples
# The json data is located on the link: https://raw.githubusercontent.com/FredArgoX/ChaoticTest_PySpark/refs/heads/main/data/people.json

!wget https://raw.githubusercontent.com/FredArgoX/ChaoticTest_PySpark/refs/heads/main/data/people.json -O people.json

--2025-06-26 19:37:04--  https://raw.githubusercontent.com/FredArgoX/ChaoticTest_PySpark/refs/heads/main/data/people.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 72 [text/plain]
Saving to: ‘people.json’

people.json         100%[===================>]      72  --.-KB/s    in 0s

2025-06-26 19:37:04 (1.36 MB/s) - ‘people.json’ saved [72/72]

In [37]:
# Read data
df = spark.read.json('people.json')

Showing the data

In [38]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [39]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [40]:
df.columns

['age', 'name']

In [41]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [42]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

Some data types make it easier to infer schema (like tabular formats such as csv).

However you often have to set the schema yourself if you aren't dealing with a .read method that doesn't have inferSchema() built-in.

Spark has all the tools you need for this, it just requires a very specific structure:

In [43]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

Next we need to create the list of Structure fields * :param name: string, name of the field. * :param dataType: class:DataType of the field. * :param nullable: boolean, whether the field can be null (None) or not.

In [44]:
data_schema = [
    StructField("age", IntegerType(), True),
    StructField("name", StringType(), True)
]

In [45]:
final_struc = StructType(fields=data_schema)

In [46]:
df = spark.read.json("people.json", schema=final_struc)

In [47]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

# Grabbing the data

In [48]:
df["age"]

Column<'age'>

In [49]:
type(df["age"])

pyspark.sql.column.Column

In [50]:
df.select("age")

DataFrame[age: int]

In [51]:
type(df.select("age"))

pyspark.sql.dataframe.DataFrame

In [52]:
df.select("age").show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [53]:
# Returns list of Row objects
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

Multiple columns

In [54]:
df.select(["age", "name"])

DataFrame[age: int, name: string]

In [55]:
df.select(["age", "name"]).show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# Creating new columns

In [56]:
# Adding a new column with a simple copy
df.withColumn("newage", df["age"]).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|NULL|Michael|  NULL|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [57]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [58]:
# Simple rename
df.withColumnRenamed("age", "supernewage").show()

+-----------+-------+
|supernewage|   name|
+-----------+-------+
|       NULL|Michael|
|         30|   Andy|
|         19| Justin|
+-----------+-------+

More complicated operations to create new columns

In [59]:
df.withColumn("doubleage", df["age"]*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|NULL|Michael|     NULL|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [60]:
df.withColumn("add_one_age", df["age"]+1).show()

+----+-------+-----------+
| age|   name|add_one_age|
+----+-------+-----------+
|NULL|Michael|       NULL|
|  30|   Andy|         31|
|  19| Justin|         20|
+----+-------+-----------+

In [61]:
df.withColumn("half_age", df["age"]/2).show()

+----+-------+--------+
| age|   name|half_age|
+----+-------+--------+
|NULL|Michael|    NULL|
|  30|   Andy|    15.0|
|  19| Justin|     9.5|
+----+-------+--------+

In [65]:
df.withColumn("half_age", df["age"]/2)

DataFrame[age: int, name: string, half_age: double]

# Using SQL

To use SQL queries directly with the DataFrame, you will need to register it to a temporary view:

In [67]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("people")

In [68]:
sql_results = spark.sql("SELECT * FROM people")

In [70]:
sql_results

DataFrame[age: int, name: string]

In [71]:
sql_results.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [72]:
spark.sql("""
SELECT *
FROM people
WHERE age=30
""").show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [74]:
# DataFrame approach
df.filter(df.age == 30).show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+